*{
    margin: 0px;
    padding: 0px;
}

ul{ 
    list-style:none;
    display: flex;
    background-color:silver;
    padding: 10px;
    justify-content: flex-end;
}
 li{
    a{
        text-decoration: none;
        padding: 40px;
        text-transform:capitalize;
        &:hover{
            color:blue;
        }
    }
 }